<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>about me</h1>
    <p>i am a motivated, self-taught developer with a penchant for multiple programming languages looking for a breakout opportunity in tech.</p>

    <a href='./index.html'>home</a>
    
</body>
</html>